@import url(style.css);

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
.filters{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
}
input[type="text"]{
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 300px;
}
label{
    font-size: 18px;
    font-weight: bold;

}
hr {
    border: none;
    height: .1px;
    background-color: rgb(128, 125, 125);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}