@import url(style.css);

.filters{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
}
input[type="text"]{
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 300px;
}
label{
    font-size: 18px;
    font-weight: bold;

}